In [154]:
import pandas as pd
import numpy as np
import os
import datetime

LECTURA DE DATAFRAMES

In [155]:

#ME2L POR SEPARADO
me2l1_df = pd.read_excel('ME2L1.XLSX')
me2l2_df = pd.read_excel('ME2L2.XLSX')
me2l3_df = pd.read_excel('ME2L3.XLSX')

In [156]:
#BASE PLANIFICABLE
base_df = pd.read_excel('Base.xlsx', header=1)
base_df = base_df[['Material','Texto breve de material','NomSector_actual','TIPO','Corresponde']]

In [157]:
#CODIGOS CADENA DE REEMPLAZO
cod_actual_df = pd.read_excel('COD_ACTUAL_S4.xlsx', usecols = ['Nro_pieza_fabricante_1', 'Cod_Actual_1'])

In [158]:
base_df_ue = pd.merge(base_df, cod_actual_df, left_on="Material", right_on="Nro_pieza_fabricante_1", how="left")

In [159]:
base_df_ue['Cod_Actual_1'] = base_df_ue['Cod_Actual_1'].fillna(base_df_ue['Material'])

In [160]:
base_df_ue.shape

(304803, 7)

In [161]:
base_df_ue.columns

Index(['Material', 'Texto breve de material', 'NomSector_actual', 'TIPO',
       'Corresponde', 'Nro_pieza_fabricante_1', 'Cod_Actual_1'],
      dtype='object')

In [162]:
base_df_ue = base_df_ue[['Cod_Actual_1','Texto breve de material', 'NomSector_actual', 'TIPO','Corresponde']]
base_df_ue = base_df_ue.rename(columns={'Cod_Actual_1':'Material'})

In [163]:
base_df_ue = base_df_ue.drop_duplicates(subset=['Material'])

TRATAMIENTO DE DFS (OC, POSiCION)

In [164]:
me2l1_df['Documento compras'] = me2l1_df['Documento compras'].astype('str')
me2l1_df = me2l1_df.drop(0)
me2l1_df['Documento compras'] = me2l1_df['Documento compras'].apply(lambda x: x.split(".")[0])
me2l2_df['Documento compras'] = me2l2_df['Documento compras'].astype('str')
me2l2_df = me2l2_df.drop(0)
me2l2_df['Documento compras'] = me2l2_df['Documento compras'].apply(lambda x: x.split(".")[0])
me2l3_df['Documento compras'] = me2l3_df['Documento compras'].astype('str')
me2l3_df = me2l3_df.drop(0)
me2l3_df['Documento compras'] = me2l3_df['Documento compras'].apply(lambda x: x.split(".")[0])

me2l1_df['Posición'] = me2l1_df['Posición'].astype('int')
#me2l1_df['Posición'] = me2l1_df['Posición'].apply(lambda x: x.split(".")[0])
me2l2_df['Posición'] = me2l2_df['Posición'].astype('int')
#me2l2_df['Posición'] = me2l2_df['Posición'].apply(lambda x: x.split(".")[0])
me2l3_df['Posición'] = me2l3_df['Posición'].astype('int')
#me2l3_df['Posición'] = me2l3_df['Posición'].apply(lambda x: x.split(".")[0])

In [165]:
print(f'Dimensiones del df1: {me2l1_df.shape}')
print('-' * 40)
print(f'Dimensiones del df2: {me2l2_df.shape}')
print('-' * 40)
print(f'Dimensiones del df3: {me2l3_df.shape}')

Dimensiones del df1: (6805, 39)
----------------------------------------
Dimensiones del df2: (5040, 39)
----------------------------------------
Dimensiones del df3: (8301, 39)

UNIR DFS

In [166]:
me2l_consolidado = pd.concat([me2l1_df,me2l2_df,me2l3_df])

In [167]:
me2l_consolidado.reset_index(drop=True, inplace=True)

In [168]:
me2l_consolidado['Material'] = me2l_consolidado['Material'].astype('str')
me2l_consolidado['Material'] = me2l_consolidado['Material'].apply(lambda x: x.split(".")[0])

In [169]:
#me2l_consolidado.drop(columns=['Reparto','Tipo doc.compras','Historial pedido/Docu.orden entrega','Grupo de artículos','Tipo de posición', 'Tipo de imputación', 'Cantidad de reparto','Hora'], inplace=True)

In [170]:
print(f'Dimensiones de consolidado: {me2l_consolidado.shape}')

Dimensiones de consolidado: (20146, 39)

ULTIMO ESLABON A ME2L

In [171]:
me2l_ue = pd.merge(me2l_consolidado, cod_actual_df, left_on="Material", right_on="Nro_pieza_fabricante_1", how="left")

In [172]:
me2l_ue['Cod_Actual_1'].fillna(me2l_ue['Material'], inplace=True)

In [173]:
me2l_ue.shape

(20146, 41)

In [174]:
me2l_ue = me2l_ue[['Documento compras', 'Posición', 'Reparto','Cl.documento compras','Tipo doc.compras',
       'Grupo de compras','Historial pedido/Docu.orden entrega', 'Fecha documento', 'Material','Cod_Actual_1', 'Texto breve','Grupo de artículos',
       'Indicador de borrado','Tipo de posición', 'Tipo de imputación', 'Centro', 'Almacén', 'Cantidad de reparto', 'Cantidad de pedido',
       'Unidad medida pedido', 'Precio neto', 'Moneda', 'Cantidad base',
       'Fecha de entrega','Hora', 'Fecha entrega estad.', 'Cantidad anterior',
       'Cantidad entrada', 'Cantidad de salida', 'Cantidad entregada',
       'Solicitud de pedido', 'Pos.solicitud pedido', 'Indicador creación',
       'Cantidad de posiciones', 'Nombre de proveedor',
       'Por entregar (cantidad)', 'Por entregar (valor)',
       'Por calcular (cantidad)', 'Por calcular (valor)'
       ]]

In [175]:
me2l_ue = me2l_ue.rename(columns={'Material':'Material Antiguo'})
me2l_ue = me2l_ue.rename(columns={'Cod_Actual_1':'Material'})

In [176]:
me2l_ue.to_excel("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Tubo Semanal/2024-02-12/2024-02-12 ME2L S4.xlsx")

In [177]:
me2l_cruce_sector = pd.merge(me2l_ue, base_df_ue, left_on="Material", right_on="Material", how="left")

In [178]:
me2l_cruce_sector = me2l_cruce_sector[['Documento compras', 'Posición', 'Reparto','Cl.documento compras','Tipo doc.compras',
       'Grupo de compras','Historial pedido/Docu.orden entrega', 'Fecha documento', 'Material Antiguo','Material', 'Texto breve','Grupo de artículos',
       'Indicador de borrado','Tipo de posición', 'Tipo de imputación', 'Centro', 'Almacén', 'Cantidad de reparto', 'Cantidad de pedido',
       'Unidad medida pedido', 'Precio neto', 'Moneda', 'Cantidad base',
       'Fecha de entrega','Hora', 'Fecha entrega estad.', 'Cantidad anterior',
       'Cantidad entrada', 'Cantidad de salida', 'Cantidad entregada',
       'Solicitud de pedido', 'Pos.solicitud pedido', 'Indicador creación',
       'Cantidad de posiciones', 'Nombre de proveedor',
       'Por entregar (cantidad)', 'Por entregar (valor)',
       'Por calcular (cantidad)', 'Por calcular (valor)', 'NomSector_actual',
       'Texto breve de material', 'TIPO', 'Corresponde']]

In [179]:
me2l_cruce_sector.dtypes

Documento compras                              object
Posición                                        int32
Reparto                                       float64
Cl.documento compras                           object
Tipo doc.compras                               object
Grupo de compras                               object
Historial pedido/Docu.orden entrega           float64
Fecha documento                        datetime64[ns]
Material Antiguo                               object
Material                                       object
Texto breve                                    object
Grupo de artículos                             object
Indicador de borrado                          float64
Tipo de posición                              float64
Tipo de imputación                             object
Centro                                        float64
Almacén                                       float64
Cantidad de reparto                           float64
Cantidad de pedido                            float64
Unidad medida pedido                           object
Precio neto                                   float64
Moneda                                         object
Cantidad base                                 float64
Fecha de entrega                       datetime64[ns]
Hora                                           object
Fecha entrega estad.                   datetime64[ns]
Cantidad anterior                             float64
Cantidad entrada                              float64
Cantidad de salida                            float64
Cantidad entregada                            float64
Solicitud de pedido                           float64
Pos.solicitud pedido                          float64
Indicador creación                             object
Cantidad de posiciones                          int64
Nombre de proveedor                            object
Por entregar (cantidad)                       float64
Por entregar (valor)                          float64
Por calcular (cantidad)                       float64
Por calcular (valor)                          float64
NomSector_actual                               object
Texto breve de material                        object
TIPO                                           object
Corresponde                                   float64
dtype: object

In [180]:
me2l_cruce_sector['Posición'] = me2l_cruce_sector['Posición'].astype('str')

In [181]:
me2l_cruce_sector['AUX'] = me2l_cruce_sector['Documento compras'] + me2l_cruce_sector['Posición']

In [182]:
me2l_cruce_sector['Origen'] = ""

In [183]:
me2l_cruce_sector = me2l_cruce_sector[['AUX','Documento compras', 'Posición', 'Reparto','Cl.documento compras','Tipo doc.compras',
       'Grupo de compras','Historial pedido/Docu.orden entrega', 'Fecha documento', 'Material Antiguo','Material', 'Texto breve','Grupo de artículos',
       'Indicador de borrado','Tipo de posición', 'Tipo de imputación', 'Centro', 'Almacén', 'Cantidad de reparto', 'Cantidad de pedido',
       'Unidad medida pedido', 'Precio neto', 'Moneda', 'Cantidad base',
       'Fecha de entrega','Hora', 'Fecha entrega estad.', 'Cantidad anterior',
       'Cantidad entrada', 'Cantidad de salida', 'Cantidad entregada',
       'Solicitud de pedido', 'Pos.solicitud pedido', 'Indicador creación',
       'Cantidad de posiciones', 'Nombre de proveedor',
       'Por entregar (cantidad)', 'Por entregar (valor)',
       'Por calcular (cantidad)', 'Por calcular (valor)', 'NomSector_actual','Origen', 'TIPO',  'Corresponde']]

In [184]:
me2l_base_tr = me2l_cruce_sector[me2l_cruce_sector['NomSector_actual'].notna()]

In [185]:
me2l_base_tr.shape

(19355, 44)

In [186]:
me2l_base_tr['Corresponde'].fillna(0, inplace=True)
me2l_base_tr['Corresponde'].replace({0:1}, inplace=True)

C:\Users\lravlic\AppData\Local\Temp\ipykernel_16344\3910453820.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  me2l_base_tr['Corresponde'].fillna(0, inplace=True)
C:\Users\lravlic\AppData\Local\Temp\ipykernel_16344\3910453820.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  me2l_base_tr['Corresponde'].replace({0:1}, inplace=True)

In [187]:
bases_oc = me2l_base_tr.groupby(['Documento compras'])['Posición'].count().sort_values(ascending=False).reset_index()

In [188]:
bases_oc.shape

(2264, 2)

In [189]:


# Calculate the number of rows in each part
num_rows_per_part = len(bases_oc) // 5  # Integer division to get an equal split

# Split the DataFrame into five parts
df_parts = np.array_split(bases_oc, 5)


# Alternatively, you can access the parts using indexing (e.g., df_parts[0], df_parts[1], etc.)

# Each part will have a similar number of rows

c:\Users\lravlic\AppData\Local\Programs\Python\Python312\Lib\site-packages\numpy\core\fromnumeric.py:59: FutureWarning: 'DataFrame.swapaxes' is deprecated and will be removed in a future version. Please use 'DataFrame.transpose' instead.
  return bound(*args, **kwds)

In [190]:
df_parts[0]['Documento compras'].to_clipboard(header=False, index=False)

In [191]:
df_parts[1]['Documento compras'].to_clipboard(header=False, index=False)

In [192]:
df_parts[2]['Documento compras'].to_clipboard(header=False, index=False)

In [193]:
df_parts[3]['Documento compras'].to_clipboard(header=False, index=False)

In [194]:
df_parts[4]['Documento compras'].to_clipboard(header=False, index=False)

In [195]:
bases_oc['Documento compras'].to_clipboard(header=False, index=False)

In [196]:
lista = os.listdir('C:/Users/lravlic/PROYECTOS DATA/PRUEBAS TRANSITO')

In [197]:
dfs = []

for i in lista:
    if 'MONITOR' in i or 'monitor' in i:
        df = pd.read_excel(i, index_col=None)
        dfs.append(df)

In [198]:
for i in lista:
    if 'ee' in i or 'EE' in i or 'entrega entrante' in i or 'ENTREGA ENTRANTE' in i:
        df_ee = pd.read_excel(i)
        print(i)

ee.XLSX

In [199]:
monitor_df = pd.concat(dfs,axis=0, ignore_index=True)

In [200]:
#monitor_df = monitor_df[['Nro. OC SAP','Clase Doc. OC','Posición OC SAP','Ind. Borrado OC','Clase Doc. SP','Nro. SOLPED','Posición SOLPED','Ind. Borrado SP','Cant. UN. OC','N° MIRO','Posición Factura',
#'Cant. Factura','Fe. Confirmación','Fe. Compromiso','Fe. ATA','TF de ATA','Cantidad en BO','Ind. Borrado PO']]

In [201]:
monitor_df['Nro. OC SAP'] = monitor_df['Nro. OC SAP'].astype('str')
monitor_df['Posición OC SAP'] = monitor_df['Posición OC SAP'].astype('str')

In [202]:
monitor_df['AUX'] = monitor_df['Nro. OC SAP'] + monitor_df['Posición OC SAP']

In [203]:
monitor_df['N° MIRO'] = monitor_df['N° MIRO'].astype('str')

In [204]:
#revision = monitor_df.groupby('AUX')['Fe. ATA'].nunique().sort_values(ascending=False).reset_index()

In [205]:
tabla_1 = monitor_df[monitor_df['Ind. Borrado OC'].isna() &
    monitor_df['Ind. Borrado SP'].isna() &
    monitor_df['Ind. Borrado PO'].isna()].groupby(['AUX', 'N° MIRO']).agg({'Cant. UN. OC':'mean', 'Cant. Factura':'max','Cantidad en BO':'mean'})

In [206]:
tabla_1

                             Cant. UN. OC  Cant. Factura  Cantidad en BO
AUX            N° MIRO
420000203610   5105776555.0           6.0              6             0.0
4200002036100  5105780925.0           1.0              1             0.0
42000020361000 5105828213.0           8.0              8             0.0
42000020361010 5105780925.0           1.0              1             0.0
42000020361020 5105776555.0           1.0              1             0.0
...                                   ...            ...             ...
470002199690   nan                    3.0              0             3.0
470002199810   nan                  100.0              0           100.0
470002199820   nan                   10.0              0            10.0
470002199830   nan                  400.0              0           400.0
470002199840   nan                  400.0              0           400.0

[151413 rows x 3 columns]

In [207]:
tabla_final = tabla_1.groupby(['AUX']).agg({'Cant. UN. OC':'mean','Cant. Factura':'sum', 'Cantidad en BO':'mean'}).reset_index()

In [208]:
print(f'Dimension de tabla final: {tabla_final.shape}')
print('-'*40)
print(f'Total Campo OC: {tabla_final['Cant. UN. OC'].sum()}')
print(f'Total Campo Factura: {tabla_final['Cant. Factura'].sum()}')
print(f'Total Campo BO: {tabla_final['Cantidad en BO'].sum()}')

Dimension de tabla final: (139222, 4)
----------------------------------------
Total Campo OC: 3939020.0
Total Campo Factura: 2484329
Total Campo BO: 1378451.5

In [209]:
tabla_final.to_excel('Monitor TD.xlsx')

In [210]:
df_ee.shape

(214459, 13)

In [211]:
df_ee.to_excel('Base Entregas.xlsx')

In [212]:
df_ee = df_ee[['Documento compras','Posición modelo', 'Cantidad entrega', 'Estado movim.mcías.']]

In [213]:
df_ee['Documento compras'] = df_ee['Documento compras'].astype('str')
df_ee['Posición modelo'] = df_ee['Posición modelo'].astype('str')

In [214]:
df_ee.dtypes

Documento compras       object
Posición modelo         object
Cantidad entrega       float64
Estado movim.mcías.     object
dtype: object

In [215]:
df_ee['AUX'] = df_ee['Documento compras'] + df_ee['Posición modelo']
df_ee.drop(columns=['Documento compras','Posición modelo'])

        Cantidad entrega Estado movim.mcías.            AUX
0                    1.0                   C   430000110030
1                    1.0                   C  4300001100210
2                    1.0                   C  4300001277100
3                    1.0                   C  4300001277200
4                    1.0                   C   430000127830
...                  ...                 ...            ...
214454             500.0                   A   470002166740
214455             500.0                   A   470002166750
214456             560.0                   A   470002166760
214457             363.0                   A   470002174510
214458             535.0                   A   470002174520

[214459 rows x 3 columns]

In [216]:
table_ee = df_ee[df_ee['Estado movim.mcías.']=='C'].groupby(['AUX'])['Cantidad entrega'].sum().reset_index()

In [217]:
table_ee[table_ee['AUX']=='400002095760']

            AUX  Cantidad entrega
0  400002095760               1.0

In [218]:
table_ee.to_excel('Entrega Entrante TD.xlsx')

In [219]:
me2l_base_tr.to_excel('Base_+_15.xlsx')

In [220]:
me2l_base_tr.shape

(19355, 44)

In [221]:
me2l_15 = me2l_base_tr

In [222]:
monitor_df.columns

Index(['Prefijo OC', 'Nro. OC SAP', 'Clase Doc. OC', 'Posición OC SAP',
       'Ind. Borrado OC', 'Fecha Creación OC', 'Clase Doc. SP', 'Nro. SOLPED',
       'Posición SOLPED', 'Ind. Borrado SP',
       ...
       'Días en BO', 'Días Pend. Emb.', 'Pedido Cerrado', 'Material Cotizado',
       'Cód. Mat de prov en PO', 'Cantidad en BO', 'Pet.Ofert.Creado por',
       'OC Creado por', 'Marcar para "Cerrar"', 'AUX'],
      dtype='object', length=107)

In [223]:
monitor_df.drop_duplicates(subset=['AUX'], inplace=True)

In [224]:
me2l_15 = me2l_base_tr

In [225]:
me2l_15.dtypes

AUX                                            object
Documento compras                              object
Posición                                       object
Reparto                                       float64
Cl.documento compras                           object
Tipo doc.compras                               object
Grupo de compras                               object
Historial pedido/Docu.orden entrega           float64
Fecha documento                        datetime64[ns]
Material Antiguo                               object
Material                                       object
Texto breve                                    object
Grupo de artículos                             object
Indicador de borrado                          float64
Tipo de posición                              float64
Tipo de imputación                             object
Centro                                        float64
Almacén                                       float64
Cantidad de reparto                           float64
Cantidad de pedido                            float64
Unidad medida pedido                           object
Precio neto                                   float64
Moneda                                         object
Cantidad base                                 float64
Fecha de entrega                       datetime64[ns]
Hora                                           object
Fecha entrega estad.                   datetime64[ns]
Cantidad anterior                             float64
Cantidad entrada                              float64
Cantidad de salida                            float64
Cantidad entregada                            float64
Solicitud de pedido                           float64
Pos.solicitud pedido                          float64
Indicador creación                             object
Cantidad de posiciones                          int64
Nombre de proveedor                            object
Por entregar (cantidad)                       float64
Por entregar (valor)                          float64
Por calcular (cantidad)                       float64
Por calcular (valor)                          float64
NomSector_actual                               object
Origen                                         object
TIPO                                           object
Corresponde                                   float64
dtype: object

In [226]:
me2l_15 = me2l_15.merge(monitor_df[['AUX','Fe. ATA']], left_on='AUX', right_on='AUX', how = 'left')

In [227]:
me2l_15['Fecha Est. Fact'] = np.where(me2l_15['Fe. ATA'].notnull(), me2l_15['Fe. ATA'] + pd.Timedelta(days=15), me2l_15['Fecha de entrega'])

In [228]:
tabla_final.head()

              AUX  Cant. UN. OC  Cant. Factura  Cantidad en BO
0    420000203610           6.0              6             0.0
1   4200002036100           1.0              1             0.0
2  42000020361000           8.0              8             0.0
3  42000020361010           1.0              1             0.0
4  42000020361020           1.0              1             0.0

In [229]:
me2l_15 = me2l_15.merge(tabla_final[['AUX', 'Cant. Factura']], left_on = 'AUX', right_on='AUX',how='left')

In [230]:
me2l_15['Cant. Factura'] = me2l_15['Cant. Factura'] * me2l_15['Corresponde']

In [231]:
table_ee.columns

Index(['AUX', 'Cantidad entrega'], dtype='object')

In [232]:
me2l_15= me2l_15.merge(table_ee, left_on='AUX', right_on='AUX', how='left')

In [233]:
me2l_15['Cantidad entrega'] = me2l_15['Cantidad entrega']*me2l_15['Corresponde']

In [234]:
me2l_15['Cantidad entrega'].sum()

77200.99799999999

In [235]:
me2l_15['Qty por Entregar'] = me2l_15['Por entregar (cantidad)']*me2l_15['Corresponde']

In [236]:
me2l_15['Qty por Entregar'].sum()

2549315.0

In [237]:
#cambiar esto por la fecha del dia actual

hoy = datetime.date(2024,2,12)

In [238]:
me2l_15['Cantidad entrega'].fillna(0, inplace=True)

In [239]:


# Suponiendo que 'me2l_15' es tu DataFrame y 'AW4', 'BJ4' y 'AT4' son columnas en tu DataFrame
result = me2l_15['Cant. Factura'] - me2l_15['Cantidad entrega']
result = np.where(np.isnan(result), me2l_15['Qty por Entregar'], result)

me2l_15['Qty Fact Corr'] = np.where(result<0, 0, result)

In [240]:
me2l_15['Qty Fact Corr'].sum()

759264.0

In [241]:
hoy = pd.to_datetime(hoy)

In [242]:
me2l_15[ 'Fecha Est. Fact'].max()

Timestamp('2024-11-01 00:00:00')

In [243]:
conditions = [
    (me2l_15['Qty Fact Corr'] > 0) & (me2l_15['Fecha Est. Fact'] >= hoy),
    (me2l_15['Qty Fact Corr'] > 0) & (me2l_15['Fecha Est. Fact'] < hoy)
]

choices = ['Facturado No Vencido', 'Facturado Vencido']

me2l_15['Status TR Fact'] = np.select(conditions, choices, default='No Facturado')

In [244]:
me2l_15['Status TR Fact'].value_counts()

Status TR Fact
No Facturado            16342
Facturado No Vencido     2521
Facturado Vencido         492
Name: count, dtype: int64

In [245]:
from datetime import timedelta, datetime

hoy_31 = hoy  + timedelta(days=31)

In [246]:
hoy_31 = pd.to_datetime(hoy_31)

In [247]:
condition = (me2l_15['Fecha de entrega'] > hoy) & (me2l_15['Fecha de entrega'] < hoy_31)

# Apply the condition using boolean indexing and assign 'SI' or 'NO' accordingly
me2l_15['Fecha BO Mes Actual'] = np.where(condition, 'SI', 'NO')

In [248]:
me2l_15['Fecha BO Mes Actual'].value_counts()

Fecha BO Mes Actual
NO    14868
SI     4487
Name: count, dtype: int64

In [249]:
condition= (me2l_15['Fecha de entrega']< hoy)

me2l_15['TR Vencido'] = np.where(condition, 'SI','NO')

In [250]:
me2l_15['TR Vencido'].value_counts()

TR Vencido
NO    11507
SI     7848
Name: count, dtype: int64

In [251]:
conditions = [
    (me2l_15['Fecha BO Mes Actual'] == "NO") & (me2l_15['TR Vencido'] == "NO"),
    (me2l_15['TR Vencido'] == "SI"),
]

# Define choices
choices = [
    "Fecha Teórica",
    "TR Vencido",
]

# Apply np.select
me2l_15['Statur TR No FAct'] = np.select(conditions, choices, default="Replanificar +45")

In [252]:
me2l_15['Cant. Factura'].sum()

812221.0

In [253]:
#Qty BO
me2l_15['Cant. BO'] = me2l_15['Cant. Factura'].fillna(0, inplace=True)

In [254]:
#Cant Factura : Cant Fact CORR
#QTY BO: CHECK

In [255]:
condicion = (me2l_15['Fecha Est. Fact'] < hoy)

me2l_15['Atraso'] = np.where(condicion, 'SI','NO')

In [256]:
me2l_15['Atraso'].value_counts()

Atraso
NO    11414
SI     7941
Name: count, dtype: int64

In [257]:
me2l_15['Fecha Est. Fact']

0       2022-02-22
1       2020-09-16
2       2021-12-29
3       2021-12-29
4       2021-12-29
           ...
19350   2024-03-30
19351   2024-03-30
19352   2024-03-30
19353   2024-03-04
19354   2024-04-25
Name: Fecha Est. Fact, Length: 19355, dtype: datetime64[ns]

In [258]:
condicion = (me2l_15['Atraso'] == 'SI')

me2l_15['Fecha Facturacion Final'] = np.where(condicion, hoy_31, me2l_15['Fecha Est. Fact'])

In [259]:
me2l_15['Fecha Facturacion Final']

0        2024-03-14 00:00:00
1        2024-03-14 00:00:00
2        2024-03-14 00:00:00
3        2024-03-14 00:00:00
4        2024-03-14 00:00:00
                ...
19350    1711756800000000000
19351    1711756800000000000
19352    1711756800000000000
19353    1709510400000000000
19354    1714003200000000000
Name: Fecha Facturacion Final, Length: 19355, dtype: object

In [260]:
me2l_15['Fecha Facturacion Final'] = pd.to_datetime(me2l_15['Fecha Facturacion Final'])

In [261]:
me2l_15['Fecha Facturacion Final']

0       2024-03-14
1       2024-03-14
2       2024-03-14
3       2024-03-14
4       2024-03-14
           ...
19350   2024-03-30
19351   2024-03-30
19352   2024-03-30
19353   2024-03-04
19354   2024-04-25
Name: Fecha Facturacion Final, Length: 19355, dtype: datetime64[ns]

In [262]:
monitor_df.dtypes

Prefijo OC              object
Nro. OC SAP             object
Clase Doc. OC           object
Posición OC SAP         object
Ind. Borrado OC         object
                         ...
Cantidad en BO           int64
Pet.Ofert.Creado por    object
OC Creado por           object
Marcar para "Cerrar"    object
AUX                     object
Length: 107, dtype: object

In [263]:
me2l_15 = me2l_15.merge(monitor_df[['AUX', 'Vía (Texto)']], left_on='AUX', right_on='AUX', how='left')

In [264]:
me2l_15['Vía (Texto)'].value_counts()

Vía (Texto)
Marítimo     10666
Aéreo         1835
Courier       1043
Terrestre      897
Name: count, dtype: int64

In [265]:
me2l_15.columns

Index(['AUX', 'Documento compras', 'Posición', 'Reparto',
       'Cl.documento compras', 'Tipo doc.compras', 'Grupo de compras',
       'Historial pedido/Docu.orden entrega', 'Fecha documento',
       'Material Antiguo', 'Material', 'Texto breve', 'Grupo de artículos',
       'Indicador de borrado', 'Tipo de posición', 'Tipo de imputación',
       'Centro', 'Almacén', 'Cantidad de reparto', 'Cantidad de pedido',
       'Unidad medida pedido', 'Precio neto', 'Moneda', 'Cantidad base',
       'Fecha de entrega', 'Hora', 'Fecha entrega estad.', 'Cantidad anterior',
       'Cantidad entrada', 'Cantidad de salida', 'Cantidad entregada',
       'Solicitud de pedido', 'Pos.solicitud pedido', 'Indicador creación',
       'Cantidad de posiciones', 'Nombre de proveedor',
       'Por entregar (cantidad)', 'Por entregar (valor)',
       'Por calcular (cantidad)', 'Por calcular (valor)', 'NomSector_actual',
       'Origen', 'TIPO', 'Corresponde', 'Fe. ATA', 'Fecha Est. Fact',
       'Cant. Factura', 'Cantidad entrega', 'Qty por Entregar',
       'Qty Fact Corr', 'Status TR Fact', 'Fecha BO Mes Actual', 'TR Vencido',
       'Statur TR No FAct', 'Cant. BO', 'Atraso', 'Fecha Facturacion Final',
       'Vía (Texto)'],
      dtype='object')

In [266]:
me2l_15['LT Objetivo'] = np.where(me2l_15['Vía (Texto)'].isin(["Marítimo", "Terrestre"]), 45,
                    np.where(me2l_15['Vía (Texto)'] == "Aéreo", 15,
                        np.where(me2l_15['Vía (Texto)'] == "Courier", 7, 0)))

In [267]:
me2l_15 = me2l_15.merge(monitor_df[['AUX','Fe. Confirmación']], left_on='AUX',right_on='AUX', how='left')

In [268]:
me2l_15['Fecha OC'] = np.where((me2l_15['Fe. Confirmación'] == 0) | (me2l_15['Fe. Confirmación'].isna()), me2l_15['Fecha documento'], me2l_15['Fe. Confirmación'])

In [269]:
import datetime
today = datetime.date(2024, 2, 14)

In [270]:
today = pd.to_datetime(today)

In [271]:


# Calculate the difference
me2l_15['Dias LT BO'] = (today - me2l_15['Fecha OC']).dt.days - me2l_15['LT Objetivo']

# Handling potential errors, setting them to 0
me2l_15['Dias LT BO'] = me2l_15['Dias LT BO'].fillna(0)

In [272]:
me2l_15['Dias LT BO'].sum()

4877216

In [273]:
import pandas as pd
import numpy as np

# Define conditions and choices
conditions = [
    (me2l_15['Vía (Texto)'].isin(["Marítimo", "Terrestre"])) & (me2l_15['Dias LT BO'].between(1, 30)),
    (me2l_15['Vía (Texto)'].isin(["Marítimo", "Terrestre"])) & (me2l_15['Dias LT BO'].between(31, 60)),
    (me2l_15['Vía (Texto)'].isin(["Marítimo", "Terrestre"])) & (me2l_15['Dias LT BO'].between(61, 90)),
    (me2l_15['Vía (Texto)'].isin(["Marítimo", "Terrestre"])) & (me2l_15['Dias LT BO'] > 90),
    (me2l_15['Vía (Texto)'] == "Aéreo") & (me2l_15['Dias LT BO'].between(1, 15)),
    (me2l_15['Vía (Texto)'] == "Aéreo") & (me2l_15['Dias LT BO'].between(16, 30)),
    (me2l_15['Vía (Texto)'] == "Aéreo") & (me2l_15['Dias LT BO'].between(31, 45)),
    (me2l_15['Vía (Texto)'] == "Courier") & (me2l_15['Dias LT BO'].between(1, 7)),
    (me2l_15['Vía (Texto)'] == "Courier") & (me2l_15['Dias LT BO'].between(8, 15)),
    (me2l_15['Vía (Texto)'] == "Courier") & (me2l_15['Dias LT BO'].between(16, 21)),
    (me2l_15['Vía (Texto)'] == "Courier") & (me2l_15['Dias LT BO'] > 21),
    (me2l_15['Vía (Texto)'] == "Aéreo") & (me2l_15['Dias LT BO'] > 45)
]

choices = [
    "De 1 a 30 días",
    "De 31 a 60 días",
    "De 61 a 90 días",
    "De 91 días a más",
    "De 1 a 15 días",
    "De 16 a 30 días",
    "De 31 a 45 días",
    "De 1 a 7 días",
    "De 8 a 15 días",
    "De 16 a 21 días",
    "De 21 días a más",
    "De 45 días a más"
]

# Assign the values based on conditions
me2l_15['Categoría LT'] = np.select(conditions, choices, default="Dentro de LT")

In [274]:
me2l_15['Categoría LT'].value_counts()

Categoría LT
Dentro de LT        6900
De 31 a 60 días     3829
De 91 días a más    2758
De 1 a 30 días      1862
De 45 días a más    1636
De 61 a 90 días     1129
De 21 días a más    1043
De 31 a 45 días      198
Name: count, dtype: int64

In [275]:
import pandas as pd
import numpy as np

# Assuming CE4 is a column in the DataFrame and BV1 is a variable
BV1 = 45  # Assuming the value of $BV$1 is 45

# Define conditions and choices
conditions = [
    me2l_15['Statur TR No FAct'] == "Replanificar +45",
    me2l_15['Statur TR No FAct'] == "Fecha Teórica",
    (me2l_15['Statur TR No FAct'] == "TR Vencido") & ((me2l_15['Categoría LT'] == 0) | (me2l_15['Categoría LT'] == "Dentro de LT")),
    (me2l_15['Statur TR No FAct'] == "TR Vencido") & (me2l_15['Categoría LT'] == "De 31 a 60 días"),
    (me2l_15['Statur TR No FAct'] == "TR Vencido") & (me2l_15['Categoría LT'] == "De 61 a 90 días")
]

choices = [
    hoy + timedelta(days =45),
    me2l_15['Fecha Facturacion Final'],
    hoy + timedelta(days =30),
    hoy + timedelta(days =60),
    hoy + timedelta(days =90)
]

# Assign the values based on conditions
me2l_15['Fecha No Fact'] = np.select(conditions, choices, default=hoy + timedelta(days =120))

In [276]:
me2l_15['Fecha No Fact'] = pd.to_datetime(me2l_15['Fecha No Fact'])

In [277]:
tabla_final.columns

Index(['AUX', 'Cant. UN. OC', 'Cant. Factura', 'Cantidad en BO'], dtype='object')

In [278]:
me2l_15= me2l_15.merge(tabla_final[['AUX','Cantidad en BO']], left_on='AUX',right_on='AUX', how='left')

In [279]:
me2l_15['Cantidad en BO'] = me2l_15['Cantidad en BO']*me2l_15['Corresponde']

In [280]:
me2l_15['Cantidad en BO'].fillna(0, inplace=True)

In [281]:
me2l_15.columns

Index(['AUX', 'Documento compras', 'Posición', 'Reparto',
       'Cl.documento compras', 'Tipo doc.compras', 'Grupo de compras',
       'Historial pedido/Docu.orden entrega', 'Fecha documento',
       'Material Antiguo', 'Material', 'Texto breve', 'Grupo de artículos',
       'Indicador de borrado', 'Tipo de posición', 'Tipo de imputación',
       'Centro', 'Almacén', 'Cantidad de reparto', 'Cantidad de pedido',
       'Unidad medida pedido', 'Precio neto', 'Moneda', 'Cantidad base',
       'Fecha de entrega', 'Hora', 'Fecha entrega estad.', 'Cantidad anterior',
       'Cantidad entrada', 'Cantidad de salida', 'Cantidad entregada',
       'Solicitud de pedido', 'Pos.solicitud pedido', 'Indicador creación',
       'Cantidad de posiciones', 'Nombre de proveedor',
       'Por entregar (cantidad)', 'Por entregar (valor)',
       'Por calcular (cantidad)', 'Por calcular (valor)', 'NomSector_actual',
       'Origen', 'TIPO', 'Corresponde', 'Fe. ATA', 'Fecha Est. Fact',
       'Cant. Factura', 'Cantidad entrega', 'Qty por Entregar',
       'Qty Fact Corr', 'Status TR Fact', 'Fecha BO Mes Actual', 'TR Vencido',
       'Statur TR No FAct', 'Cant. BO', 'Atraso', 'Fecha Facturacion Final',
       'Vía (Texto)', 'LT Objetivo', 'Fe. Confirmación', 'Fecha OC',
       'Dias LT BO', 'Categoría LT', 'Fecha No Fact', 'Cantidad en BO'],
      dtype='object')

In [282]:
import numpy as np

# Crear una condición basada en la columna 'TIPO'
condicion = (me2l_15['TIPO'] == 'OEM') & (me2l_15['Por calcular (cantidad)'] == 0)

# Actualizar la columna 'Cantidad en BO' basada en la condición
me2l_15['Cantidad en BO'] = np.where(condicion, 0, me2l_15['Cantidad en BO'])

In [283]:
me2l_15['TIPO'].value_counts()

TIPO
OEM    11485
AFM     7774
AXS       96
Name: count, dtype: int64

In [284]:
me2l_15['Cantidad en BO'].sum()

1730110.0

In [285]:
me2l_15[me2l_15['AUX'] =='430002269010']

,AUX,Documento compras,Posición,Reparto,Cl.documento compras,Tipo doc.compras,Grupo de compras,Historial pedido/Docu.orden entrega,Fecha documento,Material Antiguo,...,Atraso,Fecha Facturacion Final,Vía (Texto),LT Objetivo,Fe. Confirmación,Fecha OC,Dias LT BO,Categoría LT,Fecha No Fact,Cantidad en BO
121,430002269010,4300022690,10,1.0,ZVOR,F,RR7,NaN,2023-11-09,546274,...,SI,2024-03-14,Courier,7,2023-11-07,2023-11-07,92,De 21 días a más,2024-06-11,1.0

In [286]:
me2l_15.columns

Index(['AUX', 'Documento compras', 'Posición', 'Reparto',
       'Cl.documento compras', 'Tipo doc.compras', 'Grupo de compras',
       'Historial pedido/Docu.orden entrega', 'Fecha documento',
       'Material Antiguo', 'Material', 'Texto breve', 'Grupo de artículos',
       'Indicador de borrado', 'Tipo de posición', 'Tipo de imputación',
       'Centro', 'Almacén', 'Cantidad de reparto', 'Cantidad de pedido',
       'Unidad medida pedido', 'Precio neto', 'Moneda', 'Cantidad base',
       'Fecha de entrega', 'Hora', 'Fecha entrega estad.', 'Cantidad anterior',
       'Cantidad entrada', 'Cantidad de salida', 'Cantidad entregada',
       'Solicitud de pedido', 'Pos.solicitud pedido', 'Indicador creación',
       'Cantidad de posiciones', 'Nombre de proveedor',
       'Por entregar (cantidad)', 'Por entregar (valor)',
       'Por calcular (cantidad)', 'Por calcular (valor)', 'NomSector_actual',
       'Origen', 'TIPO', 'Corresponde', 'Fe. ATA', 'Fecha Est. Fact',
       'Cant. Factura', 'Cantidad entrega', 'Qty por Entregar',
       'Qty Fact Corr', 'Status TR Fact', 'Fecha BO Mes Actual', 'TR Vencido',
       'Statur TR No FAct', 'Cant. BO', 'Atraso', 'Fecha Facturacion Final',
       'Vía (Texto)', 'LT Objetivo', 'Fe. Confirmación', 'Fecha OC',
       'Dias LT BO', 'Categoría LT', 'Fecha No Fact', 'Cantidad en BO'],
      dtype='object')

In [287]:
side_a = me2l_15[['AUX','Status TR Fact',   'Material','Texto breve','Qty Fact Corr','Centro','NomSector_actual','Origen','TIPO','Cl.documento compras','Fecha Facturacion Final','Nombre de proveedor','Grupo de compras']]
side_b = me2l_15[['AUX','Statur TR No FAct','Material','Texto breve','Cantidad en BO',     'Centro','NomSector_actual','Origen','TIPO','Cl.documento compras','Fecha No Fact',          'Nombre de proveedor','Grupo de compras']]

In [288]:
side_a.rename(columns={'Status TR Fact':'Status','Qty Fact Corr':'Cantidad','Fecha Facturacion Final':'Fecha'}, inplace=True)
side_b.rename(columns={'Statur TR No FAct':'Status','Cantidad en BO':'Cantidad','Fecha No Fact':'Fecha'}, inplace=True)

C:\Users\lravlic\AppData\Local\Temp\ipykernel_16344\410670440.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  side_a.rename(columns={'Status TR Fact':'Status','Qty Fact Corr':'Cantidad','Fecha Facturacion Final':'Fecha'}, inplace=True)
C:\Users\lravlic\AppData\Local\Temp\ipykernel_16344\410670440.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  side_b.rename(columns={'Statur TR No FAct':'Status','Cantidad en BO':'Cantidad','Fecha No Fact':'Fecha'}, inplace=True)

In [289]:
tr_final = pd.concat([side_a, side_b])

In [290]:
tr_final.reset_index()

,index,AUX,Status,Material,Texto breve,Cantidad,Centro,NomSector_actual,Origen,TIPO,Cl.documento compras,Fecha,Nombre de proveedor,Grupo de compras
0,0,430001322210,No Facturado,1116219,INYECTOR,0.0,710.0,Great Wall,,OEM,ZVOR,2024-03-14,11735 Servicio Lucas Diesel Sa,RR4
1,1,430000752110,No Facturado,1048568,ESPONJA RESPALDO ASIENTO DEL IZQ,0.0,710.0,Mazda,,OEM,ZVOR,2024-03-14,11760 Traeger Inter Y Compani,RR4
2,2,430001392350,No Facturado,545869,BASE PORTAFILTRO AIRE 2.5,0.0,710.0,Mazda,,OEM,ZVOR,2024-03-14,11760 Traeger Inter Y Compani,RR4
3,3,430001392360,No Facturado,511194,MANDIL GUARDAFANGO DELT DER,0.0,710.0,Mazda,,OEM,ZVOR,2024-03-14,11760 Traeger Inter Y Compani,RR4
4,4,430001392430,No Facturado,510714,STRIPE NO.2 DERECHO,0.0,710.0,Mazda,,OEM,ZVOR,2024-03-14,11760 Traeger Inter Y Compani,RR4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38705,19350,42000067951330,Fecha Teórica,1066894,VIDRIO LAT DER [SZK JIMNY II],0.0,711.0,Suzuki,,OEM,ZSTO,2024-03-30,7841 Suzuki Motor Corporation,RR1
38706,19351,42000067951500,Fecha Teórica,555446,CAJA TERMOSTATO,0.0,711.0,Suzuki,,OEM,ZSTO,2024-03-30,7841 Suzuki Motor Corporation,RR1
38707,19352,42000067951580,Fecha Teórica,1171144,GOLILLA PERNO TAPA VALVULA,0.0,711.0,Suzuki,,OEM,ZSTO,2024-03-30,7841 Suzuki Motor Corporation,RR1
38708,19353,42000067951930,Replanificar +45,1168491,OPACADOR PUERTA DEL IZQ B,0.0,711.0,Suzuki,,OEM,ZSTO,2024-03-28,7841 Suzuki Motor Corporation,RR1
38709,19354,42000067952190,Fecha Teórica,1037933,TAPON CARTER,0.0,711.0,Suzuki,,OEM,ZSTO,2024-04-25,7841 Suzuki Motor Corporation,RR1

In [291]:
tr_final['Cantidad'].sum()

2489374.0

In [292]:
tr_final.to_excel('TR FINAL.xlsx')